body {
    margin: 0;
    padding: 0;
    background-color: #37C3F6;
    font-family: montserrat, sans-serif;
}

/* MENU NAVIGATION */

.nav {
    background-color: #124b87;
    padding: 10px 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: start;
}

.nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* HEADER STYLES */
 
.main-title {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
}

.main-subtitle {
    text-align: center;
    color: #2440A3;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: -2rem;
}

/* BUTTONS */

.button-container {
    text-align: center;
}

.custom-button {
    background-color: #003366; 
    color: white;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}

.custom-button:hover {
    background-color: #002244; 
}

/* DESCRIPTION */
.description{
    font-size: 22px;
    font-weight: 800;
    color: #37C3F6;
    margin: 40px 0;
    padding: 20px 20px; 
    background: white; 
    border-radius: 10px; 
    line-height: 1.8;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
}

.image-size {
    display: block;
    width: 300px;
    margin: 0 auto;
    border: 5px solid #000000;
}

/*Test*/

.container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.test-image-left {
    width: 200px;
    height: auto; 
    border: 5px solid #000000;
    margin-right: 10px; 
}

/* DESCRIPTION */
.description-left{
    font-size: 22px;
    font-weight: 800;
    color: #37C3F6;
    margin: 10px 0;
    padding: 20px 20px; 
    background: white; 
    border-radius: 10px; 
    line-height: 1.8;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
}

.test-image-right {
    width: 200px;
    height: auto; 
    border: 5px solid #000000;
    margin-right: 20px; 
    float:right;
}

.description-right{
    font-size: 22px;
    font-weight: 800;
    color: #37C3F6;
    margin: 10px 0;
    padding: 20px 20px; 
    background: white; 
    border-radius: 10px; 
    line-height: 1.8;
    text-align: right;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    max-width: 900px; 
    margin-left: 10px;
    margin-right: auto;
}



  
  